/* 🎨 Styles de la page Home */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #034AA1; /* Fond bleu */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligne les éléments en haut */
  align-items: center;
  padding-top: 0px;
  color: white;
  flex-grow: 1;
}


.button-container {
  position: absolute; /* Permet de positionner les boutons de façon absolue */
  top: 750px; /* Déplace les boutons vers le haut (ajuste cette valeur selon ton besoin) */
  display: flex; /* Utilisation de flexbox pour aligner horizontalement */
  justify-content: center; /* Centrer les boutons horizontalement */
  align-items: center;
  gap: 40px; /* Espacement entre les boutons */
  width: 100%;
  max-width: 500px;
}



/* Ajoutez des classes spécifiques pour les boutons dans Home */
.home-button {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #FBDC01;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #FBDC01;
}

.home-login-button {
  background-color: #FBDC01;
}

.home-register-button {
  background-color: #ff4500;
}

@media (max-width: 768px) {
  .home-button {
    font-size: 0.9rem;
    padding: 8px 14px;
  }
}
