.login-container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-container h2 {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
  }
  
  .login-container input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
  }
  
  .login-container input:focus {
    border-color: #ff00ff;
    outline: none;
    box-shadow: 0px 0px 10px #ff00ff;
  }
  
  .login-container button {
    background: #ff00ff;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
  }
  
  .login-container button:hover {
    background: #cc00cc;
    box-shadow: 0px 0px 15px #ff00ff;
  }
  